# Pandas užduotys 3

In [2]:
import numpy as np
import pandas as pd

# 1 Ištraukite lentelę iš [šios](https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm) svetainės. Išsaugokite kintamąjame.

In [3]:
table_EC = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')
df = table_EC[1]
df.head()

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy

In [4]:
###################################################################################

# 2 šių duomenų pagrindu sukurkite CSV, Excelio failus, ir SQLite3 duomenų bazę. Patikrinkite, ar suveikė.

In [5]:
df.to_csv('dataset.csv')
df.to_excel('dataset.xlsx')

from sqlalchemy import create_engine
engine = create_engine('sqlite:///dataset.db')
df.to_sql('Table', con=engine, index=False)
df_from = pd.read_sql('Table', con=engine)
df_from.head()

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy

# 3 Nuskaitykite į DF failą "top_20_CA_wildfires.csv"

In [23]:
df_csv = pd.read_csv('top_20_CA_wildfires.csv')
df_csv.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

In [24]:
###################################################################################

# 4 Kiek unikalių reikšmių yra stulpelyje 'cause'?

In [36]:
df_csv = pd.read_csv('top_20_CA_wildfires.csv')
df_csv.cause.unique()

array(['Under Investigation', 'Powerlines', 'Human Related', 'Lightning',
       'Undetermined'], dtype=object)

In [37]:
###################################################################################

# 5 Kokios gaisrų priežastys, kiek kartų pasitaiko lentelėje?

In [44]:
df_csv.cause.value_counts()

Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: cause, dtype: int64

In [45]:
###################################################################################

# 6 Kuriais metais buvo daugiausia gaisrų?

In [51]:
df_csv.year.max()

2018

In [52]:
###################################################################################

# 7 Kiek buvo tokių gaisrų, kuriuose žuvo žmonės?

In [58]:
df_csv.deaths[df_csv.deaths > 0].count()

10

In [59]:
###################################################################################

# 8 Surūšiuokite eilutes pagal metus. Išsiaiškinkite, kaip rūšiuoti, kad naujausi gaisrai būtų viršuje

In [72]:
df_csv.year.sort_values(ascending=False)

0     2018
15    2018
6     2018
1     2017
16    2015
4     2013
3     2012
14    2009
9     2008
12    2008
5     2007
8     2007
13    2006
2     2003
17    2002
19    1999
18    1987
10    1977
11    1970
7     1932
Name: year, dtype: int64

In [73]:
###################################################################################

# 9 Parašykite funkciją, kuri mėnesio pavadinimą verstų skaičiumi. Naudodami .apply() lentelėje pakeiskite mėnesių pavadinimus skaičiais. 
*nusikopijuokite žodyną, kad nereikėtų rašyti ranka :)*

In [81]:
data  = {1: 'January',
  2: 'February',
  3: 'March',
  4: 'April',
  5: 'May',
  6: 'June',
  7: 'July',
  8: 'August',
  9: 'September',
  10: 'October',
  11: 'November',
  12: 'December'}

AttributeError: 'dict' object has no attribute 'unique'

In [ ]:
fires.head()

NameError: name 'fires' is not defined

# 10 Nuskaitykite lentelę iš [čia](https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus).

* **Pakeiskite indeksą į stulpelį 'Miestas'**
* **Sutvarkykite duomenis taip, kad gyventojų sk. reprezentuotų lengelis su 'int' reikšme: -
Ten kur trūksta duomenų - nulis. 
ten, kur reikšmės ne integer, sutvarkykite, kad būtų integer.**

In [ ]:
#pabaigoje, miestai.info() turėtų rodyti tokį rezultatą