In [34]:
import sqlite3

In [35]:
conn = sqlite3.connect('zmones.db')
c = conn.cursor()

In [36]:
query = """
CREATE TABLE draugai(
    f_name VARCHAR(50),
    l_name VARCHAR(50),
    email VARCHAR(100),
);
"""

In [37]:
c.execute(query)

OperationalError: table draugai already exists

In [38]:
conn.commit()
conn.close()

In [53]:
conn = sqlite3.connect('zmones.db')
c = conn.cursor()

In [54]:
with conn:
    c.execute("INSERT INTO draugai VALUES ('Domantas', 'Rutkauskas', 'dr@imone.lt')")
    c.execute("INSERT INTO draugai VALUES ('Rimas', 'Radzevi훾ius', 'rr@imone.lt')")

In [58]:
with conn:
    c.execute("SELECT * FROM draugai")
    res = c.fetchall()

In [62]:
print(res)

[('Domantas', 'Rutkauskas', 'dr@imone.lt'), ('Domantas', 'Rutkauskas', 'dr@imone.lt'), ('Domantas', 'Rutkauskas', 'dr@imone.lt')]

In [69]:
with conn:
    c.execute("SELECT * FROM draugai WHERE l_name='Rutkauskas'")
    res = c.fetchall()

In [70]:
print(res)

[('Domantas', 'Rutkauskas', 'dr@imone.lt'), ('Domantas', 'Rutkauskas', 'dr@imone.lt'), ('Domantas', 'Rutkauskas', 'dr@imone.lt')]

In [71]:
with conn:
    c.execute("SELECT * FROM draugai WHERE l_name LIKE 'R%'")
    res = c.fetchall()

In [72]:
print(res)

[('Domantas', 'Rutkauskas', 'dr@imone.lt'), ('Rimas', 'Radzevi훾ius', 'rr@imone.lt'), ('Domantas', 'Rutkauskas', 'dr@imone.lt'), ('Rimas', 'Radzevi훾ius', 'rr@imone.lt'), ('Domantas', 'Rutkauskas', 'dr@imone.lt'), ('Rimas', 'Radzevi훾ius', 'rr@imone.lt')]

In [73]:
with conn:
    c.execute("SELECT * FROM draugai WHERE l_name LIKE 'R%'")
    res = c.fetchone()

In [74]:
print(res)

('Domantas', 'Rutkauskas', 'dr@imone.lt')